body{
font-family: Arial;
background:#f4f4f4;
}

.container{
width:80%;
margin:auto;
text-align:center;
}

.menu a{
margin:10px;
padding:10px 20px;
background:#007bff;
color:white;
text-decoration:none;
border-radius:5px;
display:inline-block;
}

table{
width:100%;
border-collapse:collapse;
margin-top:20px;
background:white;
}

th,td{
padding:10px;
border:1px solid #ddd;
}

.post{
background:white;
padding:10px;
margin:10px;
border-radius:5px;
box-shadow:0 0 5px gray;
}